<nav class="epcl-pagination section np-bottom">
	<div class="nav">
		{{#if prev}}
			<a class="prev epcl-button large" href="{{page_url prev}}">{{t "Older Articles" }}</a>
		{{/if}}
		<span class="page-number hide-on-mobile">{{t "Page {page} of {pages}" page=page pages=pages }}</span>
		{{#if next}}
			<a class="next epcl-button large" href="{{page_url next}}">{{t "Newer Articles" }}</a>
		{{/if}}
	</div>
</nav>